<div id=<%= dom_id(facility) %>>
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= facility.name %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= facility.quantity %>
    </td>
  </div>
