<div id=<%= dom_id(room_facility) %>>
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= room_facility.facility_id %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= room_facility.room_id %>
    </td>
  </div>
